// color palette
$primary-color: #000;
$secondary-color: #333;
$tertiary-color: #555;
$accent-color: #f00;

// wireframing
$empty-section-height: 200px;
// mobile header vars
$mobile-nav-height: 75px;

// sidebar vars
$sidebar-width: 150px;
$sidebar-bg-color: #999;

// breakpoints
$break-tablet: 'screen and (min-width: 768px)';
$break-desktop: 'screen and (min-width: 1200px)';

// hero
$hero-background-url: url(../img/portland-skyline.jpg);
