// colors
$gray: #7b929d;
$dark: #1c110a;
$green: #9cc6a4;
$purple: #67597a;
$brown: #414535;
// color palette
$primary-color: $gray;
$secondary-color: #333;
$tertiary-color: #555;
$accent-color: #f00;

// wireframing
$empty-section-height: 200px;
// mobile header vars
$mobile-nav-height: 75px;

// sidebar vars
$sidebar-width: 150px;
$sidebar-bg-gradient: linear-gradient(#7e7ebb, #000);

// breakpoints
$break-tablet: 'screen and (min-width: 768px)';
$break-desktop: 'screen and (min-width: 1200px)';

// hero
$hero-background-url: url(../img/portland-skyline.jpg);
$hero-background-gradient: linear-gradient(rgba(156, 198, 164, 0.2), rgba(28, 17, 10, 1));
$hero-height: 500px;
$intro-div-height: 200px;
