section.panels {
  margin: 70px 0;
}
article.panel {
  margin: 50px 250px;
  border: solid 1px;
  padding: 15px;
  border-radius: 5px;
  position: relative;
  img {
    height: 150px;
    width: 150px;
    background: red;
    border-radius: 50%;
  }
  &:nth-of-type(odd) {
    padding-left: 100px;
    img {
      @include transform-centering(50%,unset,unset,0,-50%,-50%);
    }
  }
  &:nth-of-type(even) {
    padding-right: 100px;
    img {
      @include transform-centering(50%,0,unset,unset,50%,-50%);
    }
    p {
      text-align: right;
    }
  }
}
