.sidebar {
  display: none;
  position: fixed;
  width: $sidebar-width;
  height: 100vh;
  background: $sidebar-bg-color;
}
img.sidebar-logo{
  display: block;
  height: $sidebar-width;
  width: $sidebar-width;
}
@media #{$break-desktop} {
  .sidebar {
    display: block;
  }
  main {
    margin-left: $sidebar-width;
  }
}
