
// IMPORT CUSTOM FONTS HERE

body{
  font-family: 'Helvetica Neue', helvetica , arial, sans-serif;
}
a {
  // font-family: ;
  color: $secondary-color;
  &:hover, &:active{
    color: $accent-color;
  }
}
